:host {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &.icon-size-xs {
    mat-icon {
      font-size: 14px;
      width: 14px;
      height: 14px;
    }
  }

  &.icon-size-sm {
    mat-icon {
      font-size: 18px;
      width: 18px;
      height: 18px;
    }
  }

  &.icon-size-md {
    mat-icon {
      font-size: 24px;
      width: 24px;
      height: 24px;
    }
  }

  &.icon-size-lg {
    mat-icon {
      font-size: 32px;
      width: 32px;
      height: 32px;
    }
  }

  &.icon-size-xl {
    mat-icon {
      font-size: 48px;
      width: 48px;
      height: 48px;
    }
  }
}

