<button
  [type]="type()"
  [disabled]="isDisabled()"
  [class]="buttonClasses()"
  (click)="onClick($event)"
>
  @if (loading()) {
    <mat-spinner diameter="18" class="btn__spinner"></mat-spinner>
  } @else {
    @if (icon() && iconPosition() === 'left') {
      <mat-icon class="btn__icon">{{ icon() }}</mat-icon>
    }
    <span class="btn__text">
      <ng-content></ng-content>
    </span>
    @if (icon() && iconPosition() === 'right') {
      <mat-icon class="btn__icon">{{ icon() }}</mat-icon>
    }
  }
</button>
